body {
  color: white;
  background-color: black;
}

.parent {
  height: 1000px;
}

.child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.child h1{
  border: 7px solid white;
  padding: 50px;
}

.child h1:nth-child(odd) {
    background-color:darkgreen;
}
